/* ------------------------------ */

@import "reset.scss";
@import "font.scss";
@import "./public/line-awesome/css/line-awesome.min.css";

$base-accent-10: #e9e9ff;
$base-accent-20: #a0a0fd;
$base-accent-30: #6d6dff;
$base-accent-40: #5d5dff;
$base-accent-50: #4949fb;
$base-accent-60: #2121fa;
$base-accent-70: #1c1cd5;
$base-accent-80: #1717b2;
$base-accent-90: #13138f;
$base-accent-100: #0f0f70;

// $tint: desaturate(darken($base-accent-50, 20), 50);

// $base-grayscale-0: white;
// $base-grayscale-5: rgba($tint, 0.03);
// $base-grayscale-10: rgba($tint, 0.07);
// $base-grayscale-30: #adadad;
// $base-grayscale-40: #6e6e6e;
// $base-grayscale-60: #3a3a3a;
// $base-grayscale-90: #151515;
// $base-grayscale-100: #101010;

$base-grayscale-0: #ffffff;
$base-grayscale-10: #f6f6f6;
$base-grayscale-20: #f2f2f2;
$base-grayscale-30: #bfbfbf;
$base-grayscale-40: #8c8c8c;
$base-grayscale-50: #595959;
$base-grayscale-60: #454545;
$base-grayscale-70: #262626;
$base-grayscale-80: #1f1f1f;
$base-grayscale-90: #141414;
$base-grayscale-100: #000000;

$base-transparent-black-0: rgba(0, 0, 0, 0);
$base-transparent-black-10: rgba(0, 0, 0, 0.1);
$base-transparent-black-20: rgba(0, 0, 0, 0.2);
$base-transparent-black-30: rgba(1, 0, 0, 0.3);
$base-transparent-black-40: rgba(0, 0, 0, 0.4);
$base-transparent-black-50: rgba(0, 0, 0, 0.5);
$base-transparent-black-60: rgba(0, 0, 0, 0.6);
$base-transparent-black-70: rgba(0, 0, 0, 0.7);
$base-transparent-black-80: rgba(0, 0, 0, 0.8);
$base-transparent-black-90: rgba(0, 0, 0, 0.9);
$base-transparent-black-100: rgba(0, 0, 0, 1);

$base-transparent-white-0: rgba(255, 255, 255, 0);
$base-transparent-white-10: rgba(255, 255, 255, 0.1);
$base-transparent-white-20: rgba(255, 255, 255, 0.2);
$base-transparent-white-30: rgba(255, 255, 255, 0.3);
$base-transparent-white-40: rgba(255, 255, 255, 0.4);
$base-transparent-white-50: rgba(255, 255, 255, 0.5);
$base-transparent-white-60: rgba(255, 255, 255, 0.6);
$base-transparent-white-70: rgba(255, 255, 255, 0.7);
$base-transparent-white-80: rgba(255, 255, 255, 0.8);
$base-transparent-white-90: rgba(255, 255, 255, 0.9);
$base-transparent-white-100: rgba(255, 255, 255, 1);

$base-red-50: #cc2400;
$base-green-50: #4e9d01;
$base-blue-50: #0092e6;
$base-purple-50: #b700c7;

/* ------------------------------ */

$space-xs: 0.25em;
$space-sm: 0.5em;
$space-md: 1em;
$radius: 4px;
$border-width: 1px;

$speed: 100ms;
$ease: ease-in-out;

/* ------------------------------ */

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-heading: 2em;
$font-size-subheading: 1.5em;

/* ------------------------------ */

$themes: (
  light: (
    "background-contrast": $base-grayscale-0,
    "background-secondary": $base-grayscale-10,
    "background-hover": $base-grayscale-10,
    "background-secondary-hover": $base-grayscale-20,
    "background-active": $base-grayscale-20,
    "background-secondary-active": $base-grayscale-30,

    "transparent-0": $base-transparent-black-0,
    "transparent-10": $base-transparent-black-10,
    "transparent-20": $base-transparent-black-20,
    "transparent-30": $base-transparent-black-30,
    "transparent-40": $base-transparent-black-40,
    "transparent-50": $base-transparent-black-50,
    "transparent-60": $base-transparent-black-60,
    "transparent-70": $base-transparent-black-70,
    "transparent-80": $base-transparent-black-80,
    "transparent-90": $base-transparent-black-90,
    "transparent-100": $base-transparent-black-100,

    "border": $base-grayscale-20,
    "outline": $base-grayscale-30,

    "text-primary": $base-grayscale-100,
    "text-accent": $base-accent-50,
    "text-secondary": $base-grayscale-30,
    "text-contrast": $base-grayscale-10,

    "tone-1": $base-red-50,
    "tone-2": $base-green-50,
    "tone-3": $base-blue-50,
    "tone-4": $base-purple-50,
    "tone-5": $base-grayscale-40,

    "accent": $base-accent-50,
    "accent-hover": $base-accent-40
  ),
  dark: (
    "background-contrast": $base-grayscale-90,
    "background-hover": $base-grayscale-80,
    "background-active": $base-grayscale-70,

    "background-secondary": $base-transparent-white-10,
    "background-secondary-hover": $base-transparent-white-20,
    "background-secondary-active": $base-transparent-white-30,

    "transparent-0": $base-transparent-white-0,
    "transparent-10": $base-transparent-white-10,
    "transparent-20": $base-transparent-white-20,
    "transparent-30": $base-transparent-white-30,
    "transparent-40": $base-transparent-white-40,
    "transparent-50": $base-transparent-white-50,
    "transparent-60": $base-transparent-white-60,
    "transparent-70": $base-transparent-white-70,
    "transparent-80": $base-transparent-white-80,
    "transparent-90": $base-transparent-white-90,
    "transparent-100": $base-transparent-white-100,

    "border": $base-grayscale-70,
    "outline": $base-grayscale-10,

    "text-primary": $base-grayscale-10,
    "text-accent": $base-accent-20,
    "text-secondary": $base-grayscale-40,
    "text-contrast": $base-grayscale-100,

    "tone-1": #fa887a,
    "tone-2": #a5ef88,
    "tone-3": #51dde8,
    "tone-4": #dab0ea,
    "tone-5": $base-grayscale-40,

    "accent": $base-accent-40,
    "accent-hover": $base-accent-30
  )
);

@each $name, $map in $themes {
  .#{$name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}

/* ------------------------------ */

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--transparent-20);
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 14px;
  background-color: var(--background-contrast);
  color: var(--text-primary);
  user-select: text;
  cursor: default;
  overflow: hidden;
}

div {
  display: flex;
}

h2 {
  font-size: $font-size-subheading;
}

i {
  pointer-events: none;
}

input {
  font-size: 1em;
  background: var(--background-secondary);
  color: var(--text-primary);
  border: none;
  border-radius: $radius;
  &[type="text"] {
    padding: $space-sm $space-md;
  }
}

topbar {
  flex-direction: row;
  align-items: center;
  // backdrop-filter: blur(15px);
  // background-color: #ffffff82;
  font-weight: $font-weight-medium;
  gap: $space-sm;
  display: flex;
  padding: 0 $space-md;
  box-sizing: border-box;
}

input,
select {
  outline-color: transparent;
  outline-width: $border-width;
  transition: all 200ms $ease;
  outline-style: solid;
  &:focus {
    outline-color: var(--outline);
  }
}

search {
  border-radius: $radius;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: var(--background-secondary);
  margin: $space-md 0;
  input[type="text"] {
    background-color: transparent;
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  select {
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    border-radius: 0 $radius $radius 0;
    padding-left: $space-md;
    border-right: $space-md solid transparent;
  }
}

button {
  display: flex;
  font-weight: $font-weight-medium;
  color: var(--text-contrast);
  gap: $space-xs;
  border-radius: $radius;
  padding: $space-sm $space-md;
  align-items: center;
  font-size: 1em;
  border: none;
  cursor: pointer;
  color: var(--text-contrast);
  background-color: var(--accent);
  width: fit-content;
  // &:hover {
  //   background-color: var(--accent);
  // }
  &:hover {
    background-color: var(--accent-hover);
  }
}

// dark theme button text color exception
.dark button {
  color: var(--text-primary);
}

button[variant="secondary"] {
  color: var(--text-primary);
  background-color: var(--background-secondary);
  &:hover {
    background-color: var(--background-secondary-hover);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-bottom: $border-width solid var(--border);
  padding: 0;
  margin: 0;
}

vertical {
  display: flex;
  width: 100%;
  flex-direction: column;
}

horizontal {
  display: flex;
  flex-direction: row;
}

vertical,
horizontal {
  min-height: 0;

  &.start {
    align-items: start;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: end;
  }
  &.xs {
    gap: $space-xs;
  }
  &.sm {
    gap: $space-sm;
  }
  &.md {
    gap: $space-md;
  }
}

rb {
  width: fit-content;
  display: grid;
  justify-items: center;
  hanzi,
  pinyin {
    display: flex;
    width: 1.5rem;
  }

  hanzi,
  traditional {
    font-size: 1.5em;
    justify-content: center;
    border-radius: $radius;
    cursor: pointer;
    &:hover {
      background-color: var(--background-hover);
    }
  }

  traditional {
    font-size: 1em;
    color: var(--text-secondary);
  }

  pinyin {
    font-size: 0.7em;
    width: fit-content;
    text-align: center;
  }
}

box {
  padding: $space-xs $space-sm;
  // background-color: var(--background-secondary);
  border-radius: $radius;
  border: $border-width var(--border) solid;
}

.tone1 {
  color: var(--tone-1);
}
.tone2 {
  color: var(--tone-2);
}
.tone3 {
  color: var(--tone-3);
}
.tone4 {
  color: var(--tone-4);
}
.tone5 {
  color: var(--tone-5);
}

nav {
  display: flex;
  width: 100%;
  border-right: $border-width solid var(--border);
}

content {
  display: flex;
  min-height: 0; // weird css thing
  flex-direction: column;
  flex: 1;
}

ruby {
  height: min-content;
  font-size: 1.5em;
}

list,
container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

container {
  gap: $space-md;
}

list {
  overflow-y: scroll;
  listitem {
    display: flex;
    flex-direction: column;
    padding: $space-md;
    border-bottom: var(--border) $border-width solid;
    //transition: background-color $speed $ease;
    &:hover {
      background-color: var(--background-hover);
    }
  }
}

container {
  padding: $space-md;
}

tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: $border-width var(--border) solid;
  user-select: none;
}

tab {
  gap: $space-sm;
  padding: $space-sm $space-sm;
  padding-right: $space-md;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: $font-weight-medium;
  border-bottom: $border-width var(--border) solid;
  &:hover {
    background-color: var(--background-hover);
  }
  &.active {
    background-color: var(--background-active);
    color: var(--text-accent);
    border-bottom: $border-width var(--accent) solid;
  }
}
menucontainer {
  position: relative;
}
menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-contrast);
  box-shadow: var(--background-active) 0 0 $space-md;
  width: 14em;
  left: -14em;
}

menuitem {
  &:hover {
    background-color: var(--background-hover);
  }
  transition: background-color $ease $speed;
  padding: $space-sm $space-md;
  cursor: pointer;
}

actions {
  display: flex;
  gap: $space-sm;
  width: 100%;
  end {
    display: flex;
    width: fit-content;
    justify-self: end;
    gap: inherit;
  }
  start {
    display: flex;
    flex: 1;
    justify-self: start;
    gap: inherit;
  }
}
