/* ------------------------------ */

@import "reset.scss";
@import "font.scss";
@import "./public/line-awesome/css/line-awesome.min.css";

$accent: rgb(104, 58, 240);
$tint: desaturate(darken($accent, 20), 50);

$base-grayscale-0: white;
$base-grayscale-5: rgba($tint, 0.03);
$base-grayscale-10: rgba($tint, 0.07);
$base-grayscale-30: #adadad;
$base-grayscale-40: #6e6e6e;
$base-grayscale-50: #000;

$base-red-50: #cc2400;
$base-green-50: #4e9d01;
$base-blue-50: #0092e6;
$base-purple-50: #b700c7;

/* ------------------------------ */

$space-xs: 0.25em;
$space-sm: 0.5em;
$space-md: 1em;
$radius: 2px;
$border-width: 1px;

$speed: 100ms;
$ease: ease-in-out;

/* ------------------------------ */

$color-background-contrast: $base-grayscale-0;
$color-background-secondary: $base-grayscale-5;

$color-background-input: $base-grayscale-5;

$color-background-hover: $base-grayscale-5;
$color-background-active: $base-grayscale-10;

$color-border: $base-grayscale-10;
$color-outline: $base-grayscale-10;

$color-text-primary: $base-grayscale-50;
$color-text-secondary: $base-grayscale-30;
$color-text-contrast: $base-grayscale-0;

$color-tone-1: $base-red-50;
$color-tone-2: $base-green-50;
$color-tone-3: $base-blue-50;
$color-tone-4: $base-purple-50;
$color-tone-5: $base-grayscale-40;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* ------------------------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 14px;
  background-color: $color-background-contrast;
  color: $color-text-primary;
  user-select: text;
  cursor: default;
}

input {
  font-size: 1em;
  background: $color-background-input;
  color: $color-text-primary;
  border: none;
  border-radius: $radius;
  &[type="text"] {
    padding: $space-sm $space-md;
  }
}

topbar {
  flex-direction: row;
  min-height: 3em;
  align-items: center;
  // backdrop-filter: blur(15px);
  // background-color: #ffffff82;
  font-weight: $font-weight-medium;
  gap: $space-sm;
  border-bottom: $border-width solid $color-border;
  display: flex;
  padding: 0 $space-md;
  box-sizing: border-box;
}

input,
select {
  outline-color: transparent;
  outline-width: $border-width;
  transition: all 200ms $ease;
  outline-style: solid;
  &:focus {
    outline-color: $color-outline;
  }
}

search {
  border-radius: $radius;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: $color-background-active;
  margin: $space-md 0;
  input[type="text"] {
    background-color: transparent;
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  select {
    background-color: transparent;
    border: none;
    border-radius: 0 $radius $radius 0;
    padding-left: $space-md;
    border-right: $space-md solid transparent;
  }
}

button {
  font-weight: $font-weight-medium;
  color: $color-text-contrast;
  gap: $space-xs;
  border-radius: $radius;
  padding: $space-sm $space-md;
  align-items: center;
  font-size: 1em;
  border: none;
  cursor: pointer;
  color: $color-text-contrast;
  transition: all 200ms $ease;
  background-color: $accent;
  // &:hover {
  //   background-color: $accent;
  // }
}

button[variant="secondary"] {
  color: $color-text-primary;
  background-color: transparent;
  &:hover {
    background-color: $color-background-hover;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-bottom: $border-width solid $color-border;
  padding: 0;
  margin: 0;
}

vertical {
  display: flex;
  width: 100%;
  flex-direction: column;
}

horizontal {
  display: flex;
  flex-direction: row;
}

vertical,
horizontal {
  &.start {
    align-items: start;
  }

  &.center {
    align-items: center;
  }

  &.end {
    align-items: end;
  }
  &.xs {
    gap: $space-xs;
  }
  &.sm {
    gap: $space-sm;
  }
  &.md {
    gap: $space-md;
  }
}

rb {
  width: fit-content;
  display: grid;
  justify-items: center;
}

hanzi,
pinyin {
  display: flex;
  width: 1.5rem;
}

hanzi,
traditional {
  font-size: 1.5em;
  justify-content: center;
  border-radius: $radius;
  cursor: pointer;
  &:hover {
    background-color: $color-background-hover;
  }
}

traditional {
  font-size: 1em;
  color: $color-text-secondary;
}

pinyin {
  font-size: 0.7em;
  width: fit-content;
  text-align: center;
}

box {
  padding: $space-xs $space-sm;
  // background-color: $color-background-secondary;
  border-radius: $radius;
  border: $border-width $color-border solid;
}

.tone1 {
  color: $color-tone-1;
}
.tone2 {
  color: $color-tone-2;
}
.tone3 {
  color: $color-tone-3;
}
.tone4 {
  color: $color-tone-4;
}
.tone5 {
  color: $color-tone-5;
}

nav {
  display: flex;
  width: fit-content;
  border-right: $border-width solid $color-border;
  height: 100vh;
}

content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

ruby {
  height: min-content;
  font-size: 1.5em;
}

list,
container {
  flex: 1;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

list listitem {
  display: flex;
  flex-direction: column;
  padding: $space-md;
  border-bottom: $color-border $border-width solid;
  transition: background-color $speed $ease;
  &:hover {
    background-color: $color-background-hover;
  }
}

container {
  padding: $space-md;
}

tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

tab {
  gap: $space-sm;
  padding: $space-sm $space-sm;
  padding-right: $space-md;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: $font-weight-medium;
  &:hover {
    background-color: $color-background-hover;
  }
  &.active {
    background-color: $color-background-active;
    color: $accent;
  }
}
menucontainer {
  position: relative;
}
menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $color-background-contrast;
  box-shadow: $color-background-active 0 0 $space-md;
  width: 14em;
  left: -14em;
}

menuitem {
  &:hover {
    background-color: $color-background-hover;
  }
  transition: background-color $ease $speed;
  padding: $space-sm $space-md;
  cursor: pointer;
}
